In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
titanic_data = pd.concat([train_data, test_data], ignore_index=True)

In [3]:
print("Первые 10 записей:")
print(titanic_data.head(10))

Первые 10 записей:
   PassengerId  Survived  Pclass  \
0            1       0.0       3
1            2       1.0       1
2            3       1.0       3
3            4       1.0       1
4            5       0.0       3
5            6       0.0       3
6            7       0.0       1
7            8       0.0       3
8            9       1.0       3
9           10       1.0       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [4]:
print("Размерность данных:", titanic_data.shape)

Размерность данных: (1309, 12)

In [5]:
print("Количество пустых значений в каждом столбце:")
for column in titanic_data.columns:
    null_count = titanic_data[column].isnull().sum()
    print(f"{column}: {null_count}")

Количество пустых значений в каждом столбце:
PassengerId: 0
Survived: 418
Pclass: 0
Name: 0
Sex: 0
Age: 263
SibSp: 0
Parch: 0
Ticket: 0
Fare: 1
Cabin: 1014
Embarked: 2

In [6]:
print("\nТипы данных:")
print(titanic_data.dtypes)

Типы данных:
PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
titanic_data = titanic_data.drop(
    columns=["PassengerId", "Name", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], axis=1)

In [8]:
median_age = titanic_data['Age'].median()
titanic_data['Age'].fillna(median_age, inplace=True)

In [9]:
changed_data = pd.get_dummies(titanic_data, drop_first=True)

In [11]:
print("Обновленные данные:")
print(changed_data.head(10))

Обновленные данные:
   Survived  Pclass   Age  Sex_male
0       0.0       3  22.0         1
1       1.0       1  38.0         0
2       1.0       3  26.0         0
3       1.0       1  35.0         0
4       0.0       3  35.0         1
5       0.0       3  28.0         1
6       0.0       1  54.0         1
7       0.0       3   2.0         1
8       1.0       3  27.0         0
9       1.0       2  14.0         0